/** Transistions **/
body {
	transition: background-image 1.5s;
	-webkit-transition: background-image 1.5s;
	-moz-transition: background-image 1.5s;
	-o-transition: background-image 1.5s;

	background-repeat: no-repeat;
	background-size: -1 100%;
	background-position: center;
	background-attachment: fixed;
}


/** TEXT **/
.c {text-align: center;}
.r {text-align: right;}
.lg {font-size:16pt;}
.md {font-size:12pt;}
.sm {font-size:10pt;}
.xs {font-size:8pt;}

.sparse-4 {
	letter-spacing: 4px;
}


/** COLOR **/
.black {
	background-color:#000000;
	color:#fafafa;
}


/** BOX **/
.vh-20 {height:20px;}
.vh-40 {height:40px;}
.vh-60 {height:60px;}
.vh-80 {height:80px;}
.vh-100 {height:100px;}
.vh-120 {height:120px;}
.vh-140 {height:140px;}
.vh-160 {height:160px;}
.vh-180 {height:180px;}
.vh-200 {height:200px;}

.box {
	border:rgba(80,90,110,0.65) solid 1px;
	border-radius:3px;

	background-color: rgba(20,30,40,0.65);
	color: #a5a5a5;
	box-shadow: rgba(0,0,0,0.5) -1px 6px 7px -2px;

	height:268px;

	margin:2px;
	padding:5px;

	transition: color 0.2s, margin-bottom 0.2s, margin-top 0.2s, box-shadow 0.2s;
	-webkit-transition: color 0.2s, margin-bottom 0.2s, margin-top 0.2s, box-shadow 0.2s;
	-moz-transition: color 0.2s, margin-bottom 0.2s, margin-top 0.2s, box-shadow 0.2s;
	-o-transition: color 0.2s, margin-bottom 0.2s, margin-top 0.21s, box-shadow 0.2s;
}

.box-md {
	height:318px;
}

.box-lg {
	height:428px;
}


.underlined {
	border-bottom:solid 1px #808080;
}


/** TILES **/
.tile {
	border:rgba(20,40,60,0.35) solid 1px;
	border-radius:3px;

	background-color: rgba(20,30,40,0.65);
	color: #a5a5a5;
	box-shadow: rgba(0,0,0,0.5) -1px 6px 7px -2px;

	height:128px;
	width:128px;

	margin:2px;
	padding:5px;

	transition: color 0.2s, margin-bottom 0.2s, margin-top 0.2s, box-shadow 0.2s;
	-webkit-transition: color 0.2s, margin-bottom 0.2s, margin-top 0.2s, box-shadow 0.2s;
	-moz-transition: color 0.2s, margin-bottom 0.2s, margin-top 0.2s, box-shadow 0.2s;
	-o-transition: color 0.2s, margin-bottom 0.2s, margin-top 0.21s, box-shadow 0.2s;
}

.tile:hover {
	box-shadow: rgba(0,0,0,0.5) -1px 6px 7px -4px;
	color: rgba(100,100,140,0.5);
	margin-bottom:0px;
	margin-top:4px;

	cursor:pointer;

	transition: color 0.2s, margin-bottom 0.2s, margin-top 0.2s, box-shadow 0.2s;
	-webkit-transition: color 0.2s, margin-bottom 0.2s, margin-top 0.2s, box-shadow 0.2s;
	-moz-transition: color 0.2s, margin-bottom 0.2s, margin-top 0.2s, box-shadow 0.2s;
	-o-transition: color 0.2s, margin-bottom 0.2s, margin-top 0.2s, box-shadow 0.2s;
}

.box h2 span.glyphicon {
	font-size:24px;
}

.tile span.glyphicon {
	font-size:72px;
}

.tile.tile-sm span.glyphicon {
	font-size:24px;
}

.tile.tile-md span.glyphicon {
	font-size:36px;
}

.tile.tile-lg span.glyphicon {
	font-size:144px;
}

.tile div.tile-body {
	letter-spacing: 1px;
	font-size:18px;
	line-height:48px;
}

.tile.tile-lg div.tile-body {
	letter-spacing: 2px;
	font-size:36px;
	line-height:96px;
}

.tile.tile-md div.tile-body {
	letter-spacing: 2px;
	font-size:24px;
	line-height:72px;
}

.tile.tile-sm div.tile-body {
	letter-spacing: 2px;
	font-size:18px;
	line-height:64px;
}

.tile-lg {
	height:268px;
	width:256px;
}

.tile-md {
	height:184px;
	width:148px;
}

.tile-sm {
	height:64px;
	width:64px;
}

.round {
	border-radius: 400px;
}